@charset "UTF-8";
:root {
  --backgrоund-color: #2f303a;
  --title-color: #ffffff;
  --text-light-color: #ffffff;
  --text-dark-color: #000000;
  --text-second-color: #212121;
  --text-third-color: #757575;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-second-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.background-color {
  background-color: var(--backgrоund-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .section .section {
    width: 768px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .section .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--text-light-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--text-light-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.5);
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  color: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-third-color);
  margin-bottom: 4px;
}

.modal-label {
  color: var(--text-third-color);
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal-form-message {
    max-width: 370px;
  }
}

@media screen and (min-width: 480px) {
  .modal-form-message {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-message {
    width: 448px;
  }
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-link {
  color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  left: 576px;
  top: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}

@media screen and (max-width: 479px) {
  .modal-form-input {
    max-width: 370px;
  }
}

@media screen and (min-width: 480px) {
  .modal-form-input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input {
    width: 448px;
  }
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--text-third-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 1px solid var(--text-second-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
  background-image: url(../images/check.svg);
}

.modal-form-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--text-light-color);
  background: #188ce8;
  border-radius: 4px;
  border: 0;
  padding: 0;
}

.logo-first {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-second-dark {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-dark-color);
}

.logo-second-light {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-light-color);
}

.section-title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  padding-top: 21px;
  padding-bottom: 21px;
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header__container {
    max-width: 480px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .header__nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__logo {
  margin-right: 80px;
  display: flex;
}

.header__logo .logo-first,
.header__logo .logo-second-dark {
  font-size: 24px;
  line-height: 1.375;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    margin-right: 84px;
    align-items: center;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
  position: relative;
  display: inline-block;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-underline::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -36px;
  background: var(--accent-color);
  border-radius: 2px;
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__nav-underline::after {
    bottom: -34px;
  }
}

@media screen and (max-width: 767px) {
  .header__contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list {
    margin-left: auto;
    text-decoration: none;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-item {
    display: flex;
  }
  .header__contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-third-color);
  display: flex;
  align-items: center;
  transition: color 300ms linear;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.header__contact-icon {
  fill: var(--text-third-color);
  text-decoration: none;
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color:hover .header__contact-icon,
.change-color:focus .header__contact-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header__contact-icon {
    margin-right: 10px;
  }
}

.header-icon-tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .header-icon-tel {
    height: 16px;
  }
}

.header-icon-mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header-icon-mail {
    width: 16px;
    height: 12px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
}

.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.mob-menu .container {
  max-height: 100vh;
  position: relative;
}

.mob-contact-social {
  position: absolute;
  bottom: 48px;
}

.menu-open,
.menu-close {
  width: 40px;
  height: 40px;
  background-color: var(--text-one-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-open,
  .menu-close {
    display: none;
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
}

.mob-modal {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--text-second-color);
  text-decoration: none;
}

.mob-contact-list {
  margin-bottom: 64px;
}

.mob-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact-item .mob-contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-third-color);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .mob-contact-item .mob-contact-link {
    font-size: 18px;
    line-height: 1.14;
  }
}

.mob-contact-item .mob-contact-link-big {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .mob-contact-item .mob-contact-link-big {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mob-social-list {
  display: flex;
}

@media screen and (max-width: 479px) {
  .mob-social-list {
    flex-wrap: wrap;
  }
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-color {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color:hover, .change-color:focus {
  color: var(--accent-color);
}

.menu-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover .menu-close-icon,
.menu-close:focus .menu-close-icon {
  fill: var(--accent-color);
}

.menu-open-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open:hover .menu-open-icon,
.menu-open:focus .menu-open-icon {
  fill: var(--accent-color);
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/hero/hero-mobil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 480px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/hero/hero-mobil@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images//hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(90deg, #020024 0%, #090979 0%, rgba(47, 48, 58, 0.4) 0%), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero-container {
  width: 100%;
  margin: 0px auto;
}

.hero-title {
  font-weight: 900;
  height: 84px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0px auto 30px auto;
}

@media screen and (min-width: 480px) {
  .hero-title {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}

.hero-btn {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-light-color);
  display: flex;
  padding: 10px 32px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.benefits {
  width: 100%;
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0px;
  }
}

.benefits-container {
  display: flex;
}

.benefits-list {
  width: 100%;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto -30px auto;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 1200px;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.benefits-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-item {
    flex-basis: calc(100% / 2 - 30);
    margin: 0 15px 30px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    flex-basis: calc 2.5%;
    margin: 0 15px;
  }
}

.benefits-link {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 30px auto;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .benefits-link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-link {
    width: 270px;
  }
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 16px;
  text-align: center;
  margin: 0px auto 10px auto;
}

@media screen and (min-width: 768px) {
  .benefits-title {
    width: 354px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-title {
    width: 270px;
  }
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-third-color);
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
  min-height: 50px;
}

@media screen and (min-width: 768px) {
  .benefits-text {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-text {
    width: 270px;
    min-height: 75px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .tablet-text {
    min-height: 75px;
  }
}

.works {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-title {
  text-align: center;
  margin: 0px auto 50px auto;
}

.works-list {
  display: flex;
  justify-content: center;
}

.works-item {
  flex-basis: calc(100% - 60px)/3;
  margin-right: 30px;
}

.works-item:last-child {
  margin-right: 0;
}

.work-image {
  width: 370px;
  height: 294px;
}

.work-picture-text {
  position: relative;
  box-sizing: border-box;
}

.work-text {
  position: absolute;
  bottom: 70px;
  left: 0;
  color: var(--text-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  padding: 27px 82px;
  transform: translateY(100%);
}

.team {
  width: 100%;
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team-title {
  text-align: center;
  margin: 0px auto 30px auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team-title {
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-list {
  width: 100%;
  margin: 0 auto -30px auto;
}

@media screen and (min-width: 480px) {
  .team-list {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    width: 1200px;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.team-image {
  margin: 0 auto;
  background: #f5f4fa;
}

.team-item {
  background: #f5f4fa;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px 30px 15px;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .team-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    flex-basis: calc(100% / 2 - 30);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: calc 2.5%;
    margin: 0 15px;
  }
}

.team-item-name {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-item-name {
    padding-bottom: 30px;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-third-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
}

.client-title {
  text-align: center;
  margin: 0px auto 30px auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .client-title {
    margin: 0px auto 50px auto;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client-list {
  display: flex;
  width: 100%;
  margin: 0 auto -30px auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .client-list {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .client-list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list {
    width: 1200px;
    flex-wrap: nowrap;
  }
}

.client-item {
  width: 100%;
  height: 92px;
  margin: 0 15px 30px 15px;
}

@media screen and (min-width: 480px) {
  .client-item {
    width: 210px;
    flex-basis: calc(100% / 2 - 30);
  }
}

@media screen and (min-width: 768px) {
  .client-item {
    width: 226px;
    flex-basis: calc(100% / 3 - 60);
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: 170px;
    flex-basis: calc -8.33333%;
  }
}

.client-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  outline: none;
  border-color: var(--accent-color);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  footer {
    max-width: 767px;
    text-align: center;
  }
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer-container {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    width: 1200px;
  }
}

.footer-container-logo-welcom {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-container-logo-welcom {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container-logo-welcom {
    margin-right: 93px;
  }
}

.footer-left {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-right: 165px;
    margin-left: 60px;
    display: block;
    flex-direction: column;
    width: 231px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-left {
    display: flex;
    margin-right: 70px;
    margin-left: 15px;
    text-align: left;
  }
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo .logo-first,
.footer-logo .logo-second-light {
  font-size: 24px;
  line-height: 1.375;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: auto;
  }
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-light-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer-adress {
    margin-bottom: 8px;
  }
}

.footer-contact {
  width: 231px;
  margin: 0 auto;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer-mail {
    margin-bottom: 8px;
  }
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.welcom {
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .welcom {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .welcom {
    margin-top: 12px;
  }
}

.welcom-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-icon {
  fill: var(--text-light-color);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: flex-end;
  }
}

.footer-form-block {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer-form-block {
    margin-right: 0;
    margin-left: 0;
  }
}

.footer-form-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form-box {
    margin-right: 12px;
    width: 358px;
  }
}

.footer-form-text {
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form-text {
    margin-top: 12px;
    margin-right: auto;
  }
}

.footer-email-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--backgrоund-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--text-light-color);
}

@media screen and (max-width: 767px) {
  .footer-email-input {
    max-width: 402px;
  }
}

@media screen and (min-width: 768px) {
  .footer-email-input {
    width: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email-input {
    width: 358px;
    margin-right: 0;
    margin-left: 0;
  }
}

.footer-form-btn {
  margin: 20px auto 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  padding: 0;
  background: var(--accent-color);
  color: var(--text-light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
}

.footer-send-icon {
  margin-left: 10px;
}

.portfolio-section {
  width: 100%;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 94px 0;
  }
}

.btn-container {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .btn-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .btn-container {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-container {
    margin-bottom: 34px;
  }
}

.btn-list {
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .btn-list {
    max-width: 450px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
    min-height: 92px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .btn-item {
    top: 0;
    bottom: 0;
  }
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-item:last-child {
  margin-right: 0;
}

.pf-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  background-color: #f5f4fa;
  border: none;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.change-pf-btn:hover,
.change-pf-btn:focus {
  color: var(--text-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  margin-bottom: -30px;
}

@media screen and (min-width: 480px) {
  .pf-list {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .pf-list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .pf-list {
    width: 1200px;
  }
}

.pf-item {
  height: 100%;
  margin: 0 15px 30px 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-item:hover, .pf-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pf-item {
    flex-basis: calc((100% - 30) / 2);
    width: 354px;
    min-height: 404px;
  }
}

@media screen and (min-width: 1200px) {
  .pf-item {
    flex-basis: calc((100% - 60) / 3);
    width: 370px;
    height: 404px;
  }
}

.pf-image {
  margin: 0 auto;
}

.pf-description {
  max-width: 100%;
  padding: 20px 24px;
}

@media screen and (min-width: 480px) {
  .pf-description {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .pf-description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .pf-description {
    width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pf-block {
    display: flex;
    flex-direction: column;
    height: 146px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pf-block-special {
    display: flex;
    flex-direction: column;
    height: 146px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-special {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .position-special {
    flex-grow: 0;
  }
}

.pf-project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  height: 36px;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.pf-group {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  height: 30px;
  color: var(--text-third-color);
}

.pf-picture-text {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.picture-text {
  position: absolute;
  padding: 49px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-item:hover .picture-text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */