:root {
    --backgrоund-color: #2f303a;
    --title-color: #ffffff;
    --text-light-color: #ffffff;
    --text-dark-color: #000000;
    --text-second-color: #212121;
    --text-third-color: #757575;
    --accent-color: #2196f3;
  }